body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centered-div {
    width: 200px; 
    height: 200px;
    position: absolute;
    top: 50%;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container {
position: relative;
width: 200px;
height: 200px;
margin-top: 40px;
overflow: hidden;
}

.circle {
position: absolute;
width: 100px;
height: 100px;
border-radius: 50%;
overflow-clip-margin: content-box;
}

.circle:nth-child(2) {
background-color: #e90c59;
animation: slideLeft 1s linear infinite;
}

@keyframes slideRight {
0% {
left: 0;
}
100% {
left: 100px;
}
}

.circle:nth-child(1) {
background-color: #46dff0;
animation: slideRight 1s linear infinite;
}

@keyframes slideLeft {
0% {
left: 100px;
}
100% {
left: 0;
}
}
